<div class="sudoku-grid">
  <!-- Schleife durch jede Zeile -->
  <div class="sudoku-row" *ngFor="let row of grid; let rowIndex = index; trackBy: trackByIndex">
    <!-- Schleife durch jede Zelle in der aktuellen Reihe -->
    <app-sudoku-cell *ngFor="let cell of row; let colIndex = index; trackBy: trackByIndex"
                     [row]="rowIndex"
                     [col]="colIndex"
                     [value]="cell.value"
                     [changeable]="cell.changeable"
                      (cellUpdated)="updateCell($event)"
                      (moveFocus)="moveFocus($event)"
                      (focus)="onFocus(rowIndex, colIndex)">
    </app-sudoku-cell>
  </div>
</div>
