.sudoku-grid {
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    margin: 20px;
  }

.sudoku-row {
  display: flex;
  flex-direction: row;
}
  .sudoku-grid app-sudoku-cell {
    margin: 0;
    padding: 0;
  }